<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Message Board</title>
</head>
<body>

  <h1>Message Board</h1>
  <p>See what everyone has been up to or saying!</p>

  <a href="/new"><button>Click here to add a new post</button></a>



  <div class="container">
    <% array.forEach(element => { %>
        <div class="item">
          <h3>name</h3>
          <p>message</p>
          
          <a href="">Click to see more</a>
        </div>
    <% }) %>
  </div>
  
</body>
</html>