<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Put the message name here</title>
</head>
<body>
    so this page will redirect you to the message that you clicked on in the message board
    
</body>
</html>